@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Newtonsoft.Json;
@using WebAppCarClub.ViewModels
@model UserDetailViewModel

@{
    ViewData["Title"] = "User - " + Model.UserName;
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/users">Racers</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>
    <section class="bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="d-flex flex-column flex-md-row gap-4 mb-4">
                    <div>
                        <img alt="Image" src="@(Model.ProfileImageUrl ?? "http://placekitten.com/g/300/300")" class="avatar avatar-xlg rounded-circle" width="100px">
                    </div>
                    <div>
                        <div class="mb-1">
                            <p class="fs-2 mb-0">@Model.UserName</p>
                            <span class="text-muted"><i class="icon-location"></i>Location Unknown</span>
                        </div>
                        <p class="text-muted mb-0"><small>Speed: @Model.Speed</small></p>
                        <p class="text-muted mb-0"><small>Mileage: @Model.Mileage</small></p>
                        <p class="text-muted mb-0">
                            @(Model.Bio ?? "...")
                        </p>
                        @* <code class="text-black">
                        <pre>
                        @Html.Raw(JsonConvert.SerializeObject(ViewData["Message"], Formatting.Indented))
                        </pre>
                        </code> *@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above">
        <div class="tab-content">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="race-tab" data-bs-toggle="tab" data-bs-target="#race" type="button" role="tab" aria-controls="race" aria-selected="true">Race</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="club-tab" data-bs-toggle="tab" data-bs-target="#club" type="button" role="tab" aria-controls="club" aria-selected="false">Club</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="followers-tab" data-bs-toggle="tab" data-bs-target="#followers" type="button" role="tab" aria-controls="followers" aria-selected="false">Followers</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="race" role="tabpanel" aria-labelledby="race-tab">
                    <div class="d-flex flex-wrap gap-2 my-2">
                        @foreach (var club in Model.Races)
                        {
                            <div class="card" style="width: 18rem; height: fit-content;">
                                <img src="@club.Image" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@club.Title</h5>
                                    <p class="card-text">@club.Description</p>
                                    <a href="/Club/Details/@club.Id" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="club" role="tabpanel" aria-labelledby="club-tab">
                    <div class="d-flex flex-wrap gap-2 my-2">
                        @foreach (var club in Model.Clubs)
                        {
                            <div class="card" style="width: 18rem;">
                                <img src="@club.Image" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@club.Title</h5>
                                    <p class="card-text">@club.Description</p>
                                    <a href="/Club/Details/@club.Id" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                    ...
                </div>
            </div>

        </div>
    </section>
</div>