@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using WebAppCarClub.ViewModels;
@model List<UserViewModel>

@{
    ViewData["Title"] = "Users Page";
}

<section id="racers-index-page" class="flush-with-above">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                @foreach (var user in Model)
                {
                    <div class="col-md-3">
                        <br>
                        <div class="followed-user-entry">
                            <div onclick="location.href='/users';" class="followed-user-top" style="background-image: url(@(user.ProfileImageUrl ?? "http://placekitten.com/g/550/400"))">
                            </div>
                            <div class="followed-user-bottom">
                                <img onclick="location.href='/users';" class="followed-user-img" src="@(user.ProfileImageUrl ?? "http://placekitten.com/g/300/300")" />
                                <h2 onclick="location.href='/users';" class="followed-user-name text-truncate"><small>@user.UserName</small></h2>
                                <p class="followed-user-screenname text-truncate">
                                    <small>@@<span onclick="location.href='/users';" class="user-screenname-span">@user.Id</span></small>
                                </p>
                                @{
                                    var speed = user.Speed.HasValue ? user.Speed.Value.ToString() : "??";
                                    var mileage = user.Mileage.HasValue ? user.Mileage.Value.ToString() : "??";
                                }
                                <p class="followed-user-description">Got @mileage mile at @speed mph record</p>
                                <a class="btn btn-outline-secondary mb-3" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                                    Visit
                                </a>
                            </div>
                        </div>
                    </div>
                    <br>
                }
            </div>
        </div>
    </div>
</section>
