﻿@using WebAppCarClub.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<section class="bg-primary rounded-pill text-center py-5">
    <img src="/assets/svg/car.svg" width="100" />
    <h1 class="text-light">Buzz Car Club</h1>
</section>

<section class="my-3">
    <div class="container mb-5">
        <div class="row col-lg-10 offset-lg-1">
            <div class="alert alert-primary text-center ">
                Open Everyday from 12pm &bull; Bookings Essential &bull; BYO Wine
            </div>
        </div>
        @if (Model.Clubs != null)
        {
            <div class="row col-lg-10 offset-lg-1 justify-content-between align-items-start">
                <div class="col-auto p-0">
                    <h3 class="mb-0">Car clubs near @Model.City, @Model.Region</h3>
                    <ul>
                        <li>IP: @Model.Ip</li>
                        <li>Location: @Model.Location</li>
                        <li>Country: @Model.Country</li>
                        <li>Org: @Model.Org</li>
                        <li>Timezone: @Model.Timezone</li>
                    </ul>
                </div>
                <div class="col-auto p-0">
                    <a href="#" class="btn btn-outline-primary">View all</a>
                </div>
            </div>
        }
    </div>
</section>

<section>
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-6 offset-lg-1">
                <ul class="list-group">
                    @{
                        var reversedClubs = Model.Clubs.Reverse().ToList();
                    }

                    @foreach (var row in reversedClubs)
                    {
                        <li class="list-group-item pt-4">
                            <h5>
                                @row.Title
                                @if (reversedClubs.IndexOf(row) == 0)
                                {
                                    <span class="badge bg-secondary">New</span>
                                }
                            </h5>
                            <p>@row.Description<br /><span class="text-secondary">$@(reversedClubs.IndexOf(row)+1)0.00</span></p>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5">
                    <div class="card-header">
                        New Best !!!
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Model?.LatestClub?.Title</h5>
                        <p class="card-text">@Model?.LatestClub?.Description</p>
                        <a asp-controller="Club" asp-action="Details" asp-route-id="@Model?.LatestClub?.Id" class="btn btn-primary">Check Availability</a>
                    </div>
                </div>
                <h6 class="font-weight-bold">Opening Hours</h6>
                <p>Monday – Sunday<br />8am – 4pm</p>          ‍
                <h6 class="font-weight-bold">Location</h6>
                <p>11C4 Block Beach Street<br />Melbourne, Victoria 3000</p>          ‍
                <h6 class="font-weight-bold">Contact</h6>
                <p>T: <a href="#">07 1234 5678</a><br />E: <a href="#">buzz.corp@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
